html {
    margin: 0;
}

body {
    margin: 0;
    font-family: Geneva, Arial, sans-serif;
    background-color: #415a77;
}

header {
    display: flex;
    justify-content: center;
    margin: 8% 6%;
}

.animated-text {
    padding: 2vw;
    font-size: 2vw;
    border-radius: 0.2rem;
    color: #f9f9f9;
    background-color: #0d1b2a;
    box-shadow: 0.8vw 0.8vw #778da9;
}

.typed-intro {
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid transparent;
    animation: typewriter 7s steps(40, end), blink-cursor 1s step-end 9;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-cursor {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #f9f9f9;
    }    
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3%;
}

.name-links {
    text-align: center;
    width: 25%;
    padding: 1.4vw 0;
    background-color: #f9f9f9;
    border-radius: 0.2rem;
    box-shadow: 0.8vw 0.8vw #778da9;
}

h1 {
    margin: 0;
    padding: 1.2vw 0;
    font-size: 1.6vw;
    color: #0d1b2a;
}

.name-links img {
    width: 2.1vw;
    height: 1.8vw;
    padding: 0 1vw;
}

.intro-text {
    width: 50%;
    padding: 2% 3%;
    font-size: 1.4vw;
    border-radius: 0.2rem;
    color: #0d1b2a;
    background-color: #f9f9f9;
    box-shadow: 0.8vw 0.8vw #778da9;
}

.website {
    margin: 9% 6% 0;
}

.website img {
    width: 100%;
    max-height: 800px;
}

.visit-link {
    text-align: center;
    margin: 1em 0;
}

.bottom {
    margin-bottom: 5%;
}

.visit-link a {
    text-transform: uppercase;
    font-size: 1.2vw;
    color: #f9f9f9;
}

.nametag {
    text-align: center;
    font-size: 0.8vw;
}