html {
    margin: 0;
}

body {
    margin: 0;
    font-family: Geneva, Arial, sans-serif;
    background-color: #415a77;
}

header {
    display: flex;
    justify-content: center;
    margin: 6rem;
}

.animated-text {
    padding: 3rem;
    font-size: 2.3rem;
    border-radius: 0.2rem;
    color: #f9f9f9;
    background-color: #0d1b2a;
    box-shadow: 20px 15px #778da9;
}

.typed-intro {
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid transparent;
    animation: typewriter 7s steps(40, end), blink-cursor 1s step-end 9;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-cursor {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #f9f9f9;
    }    
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem;
}

.name-links {
    text-align: center;
    width: 25%;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 0.2rem;
    box-shadow: 20px 15px #778da9;
}

h1 {
    margin: 0;
    padding: 2rem 0;
    font-size: 2.5rem;
    color: #0d1b2a;
}

.name-links img {
    width: 55px;
    height: 45px;
    padding: 0 2rem;
}

.intro-text {
    width: 50%;
    padding: 3rem 4rem;
    font-size: 1.8rem;
    border-radius: 0.2rem;
    color: #0d1b2a;
    background-color: #f9f9f9;
    box-shadow: 20px 15px #778da9;
}

.website {
    margin: 6rem 6rem 1.5rem;
}

.website img {
    width: 100%;
    max-height: 600px;
}

.visit-link {
    text-align: center;
}

.bottom {
    margin-bottom: 10rem;
}

.visit-link a {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #f9f9f9;
}

@media (max-width: 1200px) {
    
    .intro {
        margin: 7rem 3rem;
    }

    h1 {
        font-size: 1.7rem;
    }
    
    .name-links img {
        padding: 0 0.8rem;
    }
    
    .animated-text {
        font-size: 1.6rem;
    }
    
    .intro-text {
        padding: 1.5rem;
        font-size: 1.3rem;
    }

    .website {
        margin: 4rem 4rem 1.5rem;
    }
    
    .visit-link a {
        font-size: 1.4rem;
    }
}

@media (max-width: 800px) {
    
    header {
        margin: 2rem;
    }

    .name-links img {
        padding: 0 0.8rem 1rem;
    }
    
    .animated-text {
        width: 9rem;
        padding: 0;
    }

    .typed-intro {
        visibility: hidden;
        padding: 2.5rem;
        text-align: center;
    }

    .intro-small {
        visibility: visible;
        text-align: center;
        animation: typewriter 1s linear 1s;
        animation: typewriter 7s steps(2, end), blink-cursor 1s step-end 3;
    }

    .intro {
        display: block;
        margin: 4rem 2rem;
    }

    h1 {
        font-size: 2rem;
    }
    
    .name-links {
        width: 90%;
        margin: 3rem auto;
        padding: 0 0.7rem;
    }

    .intro-text {
        width: 90%;
        margin: 3rem auto;
        padding: 1rem;
    }

    .website {
        margin: 3rem 2rem 0.8rem;
    }
    
    .visit-link a {
        font-size: 0.8rem;
    }
}